{% extends "base.html" %}{% load i18n %}
{% load material_form %}

{% block content %}
  {% if messages %}
  <div class="messages">
      {% for message in messages %}
      <div{% if message.tags %} class="{{ message.tags }} card-panel {% if message.level_tag == 'error' %}red{% else %}green{% endif %}"{% endif %}>{{ message }}</div>
      {% endfor %}
  </div>
  {% endif %}
  <form action="{% url 'archive:edit_performance' performance.id  %}" method='post' class="viewform">
    <div class="section">
      {% csrf_token  %}
      {% form form=form %}{% endform %}
    </div>
    <div class="section right-align">
      <a href="{% url 'archive:performances' %}" class="waves-effect btn-flat grey-text text-darken-3">cancel</a>
      <button type="submit" name="_submit" class="btn btn-primary waves-effect"><i class="material-icons left" >save</i> update</button>
    </div>
  </form>
{% endblock content %}