{% extends "base.html" %}{% load i18n %}
{% load material_form %}

{% block content %}
<div class="section">
  <div class="row">
    <div class="col s12">
      <div class="row">
        {% csrf_token %}
        <form action="{% url 'archive:performances' %}" method="GET">      
          <div class="input-field col m10 s9">
            <input name="search" id="search" type="search" value="{{ form.search  }}" >
            <label for="search"><i class="material-icons">search</i></label>
          </div>
          <div class="input-field col m2 s3">
            <button class="btn-floating green" type="submit"><i class="material-icons left" >search</i></button>
          </div>
        </form>
      </div>
      <div class="row">
        <div class="col">
            <h6>{% blocktrans %}About {{ total }} results ({{ took }} seconds){% endblocktrans %}</h6>
        </div>
      </div>
      <div class="row">
        {% for obj in performances %}
        <div class="col xl4 l6 m6 s12">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <!-- <div class="video-container">
                      <iframe width="853" height="480" src="https://www.youtube.com/embed/{{obj.youtube_id}}" frameborder="0" allowfullscreen></iframe>
                    </div> -->
                    <a href="https://www.youtube.com/watch?v={{obj.youtube_id}}" target="_blank" ><img class="responsive-img" src="https://img.youtube.com/vi/{{obj.youtube_id}}/mqdefault.jpg"></a>
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">{{obj.track}}<i class="material-icons right">more_vert</i></span>
                    <p><b>{% trans "Pilot" %}: </b>{{obj.pilot}}</p>
                    <p><b>{% trans "Car" %}: </b>{{obj.car}}</p>
                    <p><b>{% trans "Team" %}: </b>{{obj.team}}</p>
                </div>
                {% if user.is_authenticated %}
                <div class="card-action right-align">
                    <a href="{% url 'archive:delete_performance' obj.id %}" >Delete</a>
                    <a href="{% url 'archive:edit_performance' obj.id %}" class="btn">Edit</a>
                </div>
                {% endif %}
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">{{obj.track}}<i class="material-icons right">close</i></span>
                    <p><b>Rally: </b>{{obj.rally}}</p>
                    <p><b>{% trans "Car" %}: </b>{{obj.car}}</p>
                    <p><b>{% trans "Pilot" %}: </b>{{obj.pilot}}</p>
                    <p><b>{% trans "Team" %}: </b>{{obj.team}}</p>
                    <p><b>{% trans "Category" %}: </b>{{obj.category}}</p>
                    <p><b>{% trans "Time" %}: </b>{{obj.time}}</p>
                    <p><b>{% trans "Stage (SS)" %}: </b>{{obj.stage_number}}</p>
                    <p><b>{% trans "Note" %}: </b>{{obj.note}}</p>
                    <p><b>{% trans "Uploaded" %}: </b>{{obj.uploaded_at|date:'D, d N H:i e'}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
      </div>
      <div class="section">
        <ul class="pagination">
          {% if performances.has_previous %}
          <li><a href="?page={{ performances.previous_page_number }}"><i class="material-icons">chevron_left</i></a></li>
          {% endif %}
          {% for l in performances.paginator.page_range %}
            {% if l <= performances.number|add:5 and l >= performances.number|add:-5 %}
              {% if performances.number == l %}
              <li class="active"><a href="#!">{{forloop.counter}}</a></li>
              {% else %}
              <li class="waves-effect"><a href="?page={{forloop.counter}}">{{forloop.counter}}</a></li>
              {% endif %}
            {% endif %}
          {% endfor %}
          {% if performances.has_next %}
          <li class="waves-effect"><a href="?page={{ performances.next_page_number }}"><i class="material-icons">chevron_right</i></a></li>
          {% endif %}

        </ul>
        <!-- <div class="pagination">
          <span class="step-links">
            {% if performances.has_previous %}
              <a href="?page=1">&laquo; first</a>
              <a href="?page={{ performances.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
              Page {{ performances.number }} of {{ performances.paginator.num_pages }}.
            </span>
    
            {% if performances.has_next %}
              <a href="?page={{ performances.next_page_number }}">next</a>
              <a href="?page={{ performances.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
          </span>
        </div> -->
      </div>
   </div>
  </div>
</div>
<script>
$(document).ready(function(){
  $('.datepicker').datepicker({
    format: 'yyyy-mm-dd', 
    autoClose: true, 
    showClearBtn: true
  });
});
</script>
{% endblock content %}