{% extends "base.html" %}{% load static %}{% load i18n %}

{% block content %}
<div class="section">
  <div class="row">
      <div class="col s12 m8 offset-m2">
        <h3>RealRally - WebTV - Media Sharing</h3>
        <p>{% trans "home_message" %}</p>
        <a href="{% url 'model_form_upload' %}" class="btn"><i class="material-icons left">cloud_upload</i>{% trans "Upload Replay" %}</a>
        <a href="{% url 'archive:performances' %}" class="btn"><i class="material-icons left">videocam</i>{% trans "Search" %}</a>
      </div>
  </div>
</div>
<div class="section">
  <div class="row">
      <div class="col s12 m8 offset-m2">
        <div class="video-container">
          <iframe width="853" height="480" src="{{ video_url }}" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
  </div>
</div>
{% endblock content %}