{% extends "base.html" %}{% load static %}{% load i18n %}

{% block content %}
<div class="section">
  <div class="row">
      <div class="col s12 m8 offset-m2">
        {% csrf_token %}
        <form action="{% url 'archive:performances' %}" method="GET">
          <div class="row">
            <div class="input-field col m9 s8">
              <input name="search" id="search" type="search" value="{{ form.search  }}" >
              <label for="search"><i class="material-icons">search</i></label>
            </div>
            <div class="input-field col m3 s4">
              <button class="btn" type="submit">{% trans "Search" %}</button>
            </div>
          </div>
        </form>
      </div>
  </div>
</div>
<div class="section">
  <div class="row">
      <div class="col s12 m8 offset-m2">
        <h3>RealRally - WebTV - Media Sharing</h3>
        <p>{% trans "home_message" %}</p>
        <a href="{% url 'model_form_upload' %}" class="btn"><i class="material-icons left">cloud_upload</i>{% trans "Upload Replay" %}</a>
        <a href="{% url 'archive:share' %}" class="btn"><i class="material-icons left">videocam</i>{% trans "Share Video" %}</a>
      </div>
  </div>
</div>
<div class="section">
  <div class="row" >
    <div class="col s12 m8 offset-m2">
    {% for obj in performances %}
    <div class="col l6 m12">
      <div class="card">
        <div class="card-image">
          <!-- <div class="video-container">
            <iframe width="853" height="480" src="https://www.youtube.com/embed/{{obj.youtube_id}}" frameborder="0" allowfullscreen></iframe>
          </div> -->
          <a href="https://www.youtube.com/watch?v={{obj.youtube_id}}" target="_blank" ><img src="https://img.youtube.com/vi/{{obj.youtube_id}}/mqdefault.jpg"></a>
          <span class="card-title">{{obj.track}}</span>
        </div>
        <div class="card-content">
          <p><b>{% trans "Pilot" %}: </b>{{obj.pilot}}</p>
          <p><b>{% trans "Car" %}: </b>{{obj.car}}</p>
          <p><b>{% trans "Team" %}: </b>{{obj.team}}</p>
        </div>
      </div>
    </div>
    {% endfor %}
    </div>
  </div>
</div>
{% endblock content %}