{% extends "base.html" %}
{% load material_form %}

{% block content %}
  {% if messages %}
  <div class="messages">
      {% for message in messages %}
      <div{% if message.tags %} class="{{ message.tags }} card-panel green"{% endif %}>{{ message }}</div>
      {% endfor %}
  </div>
  {% endif %}
  <form method="post" enctype="multipart/form-data">
    <div class="section">
    {% csrf_token %}
    {% form form=form %}{% endform %}
    </div>
    <div class="section">
      <button type="submit" name="_submit" class="btn btn-primary waves-effect"><i class="material-icons left" >save</i> Upload</button>
    </div>
  </form>

  <p><a href="{% url 'home' %}">Return to home</a></p>
</div>
{% endblock content %}