{% extends "base.html" %}

{% block content %}
<div class="section">
  <div class="row">
    <div class="col s12 m12 xl12">
      {% csrf_token %}
      <form action="{% url 'replays' %}" method="GET">
        <div class="row">
          <div class="input-field col s12">
            <input name="search" id="search" type="search" value="{{ form.search  }}" >
            <label for="search"><i class="material-icons">search</i></label>
          </div>
          <div class="input-field col s4">
            <i class="material-icons prefix">date_range</i>
            <input name="from_date" type="text" class="datepicker" value="{{ form.from_date }}">
            <label for="from_date">From</label>
          </div>
          <div class="input-field col s4">
            <input name="to_date" type="text" class="datepicker" value="{{ form.to_date }}">
            <label for="to_date">To</label>
          </div>
          <div class="input-field col s2">
            <label>
              <input type="checkbox" name="edited" {% if form.edited %}checked{% endif %} />
              <span>Edited</span>
            </label>
          </div>
          <div class="input-field col s2">
            <button class="btn" type="submit">Search</button>
          </div>
        </div>
      </form>
      <ul id="projects-collection" class="collection z-depth-1">
        {% for obj in documents %}
        <li class="collection-item">
          <div class="row collections-content">
            <div class="col s8"><h5 class="flow-text">Uploaded on {{ obj.uploaded_at }}</h5></div>
            <div class="col s4">
              <div class="secondary-content">{% if obj.gdpr_accept %}<span class="chip green white-text">GDPR</span>{% endif %}</div>
            </div>
            <div class="col s12">
              <span class="flow-text">{{ obj.pilot_nickname }} - {{ obj.pilot_name }}</span>
            </div>
            {% if obj.note %}
            <div class="col s12">
                <blockquote class="">{{obj.note}}</blockquote>
            </div>
            {% endif %}
            <div class="col s12">
              {% for replay in obj.replay_set.all %}
              <p class="collection-item">
                <span class="badge">
                  <label>
                    <input type="checkbox" {% if replay.edited %}checked{% endif %} class="edited" data-id="{{ replay.id }}"/>
                    <span>Edited</span>
                  </label>
                </span>
                <span class="badge">REPLAY</span>
                {% if not replay.performance %}
                <span class="badge">
                  <a href="{% url 'archive:new_performance' replay.id %}" >Archive</a>
                </span>
                {% endif %}
                {% if replay.performance %}
                <span class="badge">
                  <a href="{% url 'archive:edit_performance' replay.performance.id %}" >Edit video</a>
                </span>
                {% endif %}
                <a href="{{ replay.replay.url }}" class="" >{{ replay.replay.name|truncatechars:75 }}</a></p>
              {% endfor %}
              {% if obj.skin %}
              <a href="{{ obj.skin.url }}" class="collection-item" ><span class="badge">SKIN</span>{{ obj.skin.name|truncatechars:75 }}</a>
              {% endif %}
            </div>
          </div>
        </li>
        {% endfor %}
      </ul>
   </div>
  </div>
</div>
<script>
$(document).ready(function(){
  $('.datepicker').datepicker({
    format: 'yyyy-mm-dd', 
    autoClose: true, 
    showClearBtn: true
  });

  $('input.edited').change(function(){
    let data = new FormData();
    let replay_id = $(this).data('id');
    data.append('edited', $(this).is(':checked'));
    // add form input from hidden input elsewhere on the page
    data.append('csrfmiddlewaretoken', $('input[name="csrfmiddlewaretoken"]').attr('value'));
    fetch(`/edit_replay/${replay_id}/`, {
        method: 'POST',
        body: data,
        credentials: 'same-origin',
    });
  });
});
</script>
{% endblock content %}