{% extends "base.html" %}

{% block content %}
<div class="section">
  <div class="row">
    <div class="col s12 m12 xl8 offset-xl2">
      <ul id="projects-collection" class="collection z-depth-1">
        {% for obj in documents %}
        <li class="collection-item">
          <div class="row collections-content">
            <div class="col s8"><h5 class="flow-text">Uploaded on {{ obj.uploaded_at }}</h5></div>
            <div class="col s4">
              <div class="secondary-content">{% if obj.gdpr_accept %}<span class="chip green white-text">gdpr accepted</span>{% endif %}</div>
            </div>
            <div class="col s12">
              <span class="flow-text">{{ obj.pilot_nickname }} - {{ obj.pilot_name }}</span>
            </div>
            {% if obj.note %}
            <div class="col s12">
                <blockquote class="">{{obj.note}}</blockquote>
            </div>
            {% endif %}
            <div class="col s12">
              {% if obj.replay %}
              <a href="{{ replay.url }}" class="truncate">{{ replay.name }}</a><span class="badge">REPLAY</span><br>
              {% endif %}
              {% for replay in obj.replay_set.all %}
              <a href="{{ replay.replay.url }}">{{ replay.replay.name }}</a><span class="badge">REPLAY</span><br>
              {% endfor %}
            </div>
            <div class="col s12">
              {% if obj.skin %}
              <a href="{{ obj.skin.url }}" class="truncate">{{ obj.skin.name }}</a><span class="badge">SKIN</span>
              {% endif %}
            </div>
          </div>
        </li>
        {% endfor %}
      </ul>
   </div>
  </div>
</div>
{% endblock content %}