{% extends "base.html" %}

{% block content %}
<div class="section">
  <div class="row">
    <div class="col s12 m12 xl12">
      <form action="{% url 'replays' %}" method="GET">
        <div class="row">
          <div class="input-field col s12">
            <input name="search" id="search" type="search" value="{{ form.search  }}" >
            <label for="search"><i class="material-icons">search</i></label>
          </div>
          <div class="input-field col s4">
            <i class="material-icons prefix">date_range</i>
            <input name="from_date" type="text" class="datepicker" value="{{ form.from_date }}">
            <label for="from_date">From</label>
          </div>
          <div class="input-field col s4">
            <input name="to_date" type="text" class="datepicker" value="{{ form.to_date }}">
            <label for="to_date">To</label>
          </div>
          <div class="input-field col s4">
            <button class="btn" type="submit">Search</button>
          </div>
        </div>
      </form>
      <ul id="projects-collection" class="collection z-depth-1">
        {% for obj in documents %}
        <li class="collection-item">
          <div class="row collections-content">
            <div class="col s8"><h5 class="flow-text">Uploaded on {{ obj.uploaded_at }}</h5></div>
            <div class="col s4">
              <div class="secondary-content">{% if obj.gdpr_accept %}<span class="chip green white-text">GDPR</span>{% endif %}</div>
            </div>
            <div class="col s12">
              <span class="flow-text">{{ obj.pilot_nickname }} - {{ obj.pilot_name }}</span>
            </div>
            {% if obj.note %}
            <div class="col s12">
                <blockquote class="">{{obj.note}}</blockquote>
            </div>
            {% endif %}
            <div class="col s12">
              {% for replay in obj.replay_set.all %}
              <a href="{{ replay.replay.url }}" class="collection-item" ><span class="badge">REPLAY</span>{{ replay.replay.name|truncatechars:75 }}</a>
              {% endfor %}
              {% if obj.skin %}
              <a href="{{ obj.skin.url }}" class="collection-item" ><span class="badge">SKIN</span>{{ obj.skin.name|truncatechars:75 }}</a>
              {% endif %}
            </div>
          </div>
        </li>
        {% endfor %}
      </ul>
   </div>
  </div>
</div>
<script>
$(document).ready(function(){
  $('.datepicker').datepicker({
    format: 'yyyy-mm-dd', 
    autoClose: true, 
    showClearBtn: true});
});
</script>
{% endblock content %}