<!DOCTYPE html>{% load static %}{% load i18n %}
<html>
  <head>
    <title>{% block title %}RealRally - WebTV - Media Sharing{% endblock %}</title>
    {% block head_favicon %}
    <link rel="shortcut icon" type="image/ico" href="{% static 'img/favicon.ico' %}"/>
    {% endblock head_favicon %}
    {% block head_meta_charset %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    {% endblock head_meta_charset %}
    {% block head_meta_contentlanguage %}
    <meta http-equiv="Content-Language" value="en-US" />
    {% endblock head_meta_contentlanguage %}
    {% block head_meta_viewport %}
    <meta name="viewport" content="width=device-width, initial-scale=0.8" />
    {% endblock head_meta_viewport %}

    {% include 'material/includes/material_css.html' %}
    <script src="{% static 'material/js/jquery.js' %}"></script>
    {% include 'material/includes/material_js.html' %}

    <style>
      nav .brand-logo{margin-left:10px;}
      nav .brand-logo img {height: 42px; margin: 9px 0;}
      nav .extra-content{margin-left:150px;height: 100%;}
      body {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
      }
      main {
        flex: 1 0 auto;
      }
      input[type=search] {
        -webkit-appearance: none;
      }
      @media only screen and (max-width: 992px) {
        nav .extra-content{margin-left:60px;}
        nav .brand-logo {
          left: 26%;
          transform: translateX(-16%);
        }
      }
    </style>
  </head>
  <body>
    <main>
    <div class="navbar-fixed">
      <nav class="" role="navigation">
        <div class="nav-wrapper"><a id="logo-container" href="/" class="brand-logo"><img src="{% static 'img/rrwebtv-logo.png' %}" alt="RealRally WebTV Logo" ></a>
          <ul class="right hide-on-med-and-down">
            <li><a href="{% url 'archive:performances' %}" ><i class="material-icons left">search</i>{% trans "Search" %}</a></li>
            <li><a href="{% url 'archive:share' %}" ><i class="material-icons left">share</i>{% trans "Share Video" %}</a></li>
            <li><a href="{% url 'model_form_upload' %}" ><i class="material-icons left">cloud_upload</i>{% trans "Upload Replay" %}</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'replays' %}">Replays</a></li>
            {% if perms.auth.add_user %}
            <li><a href="{% url 'users:register' %}">Register</a></li>
            {% endif %}
            <li><a href="{% url 'users:logout' %}">Log out</a></li>
            {% else %}
            <li><a href="{% url 'users:login' %}">Log in</a></li>
            {% endif %}
          </ul>
          <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
      </nav>
    </div>
    <ul id="nav-mobile" class="sidenav">
      <li><a href="{% url 'home' %}" ><i class="material-icons left">home</i>Home</a></li>
      <li><a href="{% url 'archive:performances' %}" ><i class="material-icons left">search</i>{% trans "Search" %}</a></li>
      <li><a href="{% url 'archive:share' %}" ><i class="material-icons left">share</i>{% trans "Share Video" %}</a></li>
      <li><a href="{% url 'model_form_upload' %}"><i class="material-icons left">cloud_upload</i>{% trans "Upload Replay" %}</a></li>
      {% if user.is_authenticated %}
      <li><a href="{% url 'replays' %}">Replays</a></li>
      {% if perms.auth.add_user %}
      <li><a href="{% url 'users:register' %}">Register</a></li>
      {% endif %}
      <li><a href="{% url 'users:logout' %}">Log out</a></li>
      {% else %}
      <li><a href="{% url 'users:login' %}">Log in</a></li>
      {% endif %}
    </ul>
    <div class="container">
      {% block content %}{% endblock content %}
      {% block content-script %}{% endblock content-script %}
    </div>
    </main>
    <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col l12 s12">
            <p class="light">{% trans "terms_message" %}</p>
          </div>
          <div class="col l3 s6">
            <div class="card transparent">
              <div class="card-content">
                <a href="http://realrally.com/"><img class="responsive-img" src="{% static 'img/realrally-logo2.png' %}" ></a>
              </div>
            </div>
          </div>
          <div class="col l3 s6">
            <div class="card transparent">
              <div class="card-content">
                <a href="https://www.emawind.com"><img class="responsive-img" src="{% static 'img/discofilm-logo2.png' %}" ></a>
              </div>
            </div>
          </div>
          <div class="col l3 s6">
            <div class="card transparent">
              <div class="card-content">
                <a href="http://www.etabetarace.it"><img class="responsive-img" src="{% static 'img/logo_etabetarace.png' %}" ></a>
              </div>
            </div>
          </div>
          <div class="col l3 s6">
            <div class="card transparent">
              <div class="card-content">
                <a href="https://www.facebook.com/Tuttorealrally"><img class="responsive-img" src="{% static 'img/TUTTOREALRALLY.png' %}" ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container light">
        © 2019 Emanuele Disco All Rights Reserved
        </div>
      </div>
    </footer>

    {% block sidenav_javascript %}
    <script>
    $(document).ready(function(){
      $('.sidenav').sidenav();
    });
    </script>
    {% endblock sidenav_javascript %}
  </body>
</html>